/* the circle in the center of the cells  */
circle {
  stroke: #efedf5;
  fill: #efedf5;
  pointer-events: none;
}
/*  the lines in the cells that radiate out of center  */
line {
  pointer-events: none;
  stroke: #efedf5;
  stroke-width: 2px;
  opacity: 0.05;
}
/* space between the shapes  */
path {
  stroke: #efedf5;
  stroke-width: 4px;
}
/* svg {
  position: absolute;
  top: 0;
  left: 0;
} */
body {
  position: fixed;
  top: 0;
  left: 0;
}
