circle {
    stroke: #efedf5;
    fill: #efedf5;
    pointer-events: none;
  }
  line {
    pointer-events: none;
    stroke: #efedf5;
    stroke-width: 2px;
    opacity: 0.05;
  }
  path {
    stroke: #efedf5;
    stroke-width: 4px;
  }