#bahamas {
  width: 600px;
  height: 300px;
  background-color: #00778b;
}

#jamaica {
  width: 600px;
  height: 300px;
  background-color: black;
}

#macedonia {
  width: 600px;
  height: 300px;
  background-color: #d20000;
}

#south-korea {
  width: 600px;
  height: 400px;
}
