svg {
  background: #eee;
  overflow: visible;
  /*  take this out of the SVG and add it to the DIV in the BarChart */
  /* margin-bottom: 2rem; */
  display: block;
  /* changing the defalut width of svg form 300 px   */
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  /* need to change from center to stretch  */
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  /*  adding padding to the root element so that when the chart becomes responsive the y axis can be seen  */
  padding: 0 50px;
}

button {
  margin-bottom: 5px;
  width: 100px;
  margin: 0 auto 5px;
}
