.App {
  font-family: sans-serif;
  text-align: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}
